* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
  color: white;
}
body {
  background-image: linear-gradient(rgba(67, 41, 88, 0.459), rgb(35, 2, 56)),
    url(images/background/purple.jpg);

  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}
.game-container {
  height: 100vh;
  width: 60%;
  margin: auto;
}
h2 {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
.game-start {
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  justify-content: space-between;
  margin: auto 1rem;
}
.timer.big {
  animation: width 0.5s linear;
}
@keyframes width {
  0% {
    color: rgb(240, 22, 22);
    font-size: 1.5rem;
  }

  50% {
    color: white;
    font-size: 1rem;
  }

  100% {
    color: rgb(240, 22, 22);
    font-size: 1.5rem;
  }
}
.game-over {
  display: none;
}
.game-over.visible {
  position: fixed;
  color: white;
  background-color: rgba(40, 39, 41, 0.459);
  z-index: 99;
  height: 100vh;
  width: 60%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.replay-btn {
  height: 3.5rem;
  width: 9rem;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: 0.1em solid white;
  padding: 0.1rem;
  border-radius: 0.5rem;
  transition: color 0.2s ease-in;
}
.replay-btn:hover {
  color: black;
  background-color: white;
  transition: color 0.8s ease-out;
}

.card-container {
  height: 80vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.3rem;
  overflow: hidden;
  perspective: 50rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.2s linear;
}
.card.visible {
  transform: rotatey(180deg);
  pointer-events: none;
}

.back-face.visible {
  transform: rotatey(180deg);
}
.front-face {
  transform: rotatey(0deg);
  transition: 0.1s linear;
}
.front-face,
.back-face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: 0.5s;
  width: 7rem;
  height: 9rem;
}

.back-face img {
  width: 7rem;
  height: 9rem;
  z-index: 6;
  border-radius: 0.5rem;
}
.front-face img {
  width: 4rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.card.matched .front-face img {
  width: 5rem;
  height: 7rem;
  border-radius: 0.5rem;
  animation: moving 1s linear;
}

@keyframes moving {
  0% {
    transform: rotateY(50deg);
  }
  30% {
    transform: rotateY(30deg);
  }
  60% {
    transform: rotateY(80deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@media (max-width: 60rem) {
  .card-container {
    grid-template-columns: repeat(4, auto);
  }

  .back-face img {
    width: 5rem;
    height: 7rem;
  }
  .front-face,
  .back-face {
    background-color: black;
    width: 5rem;
    height: 7rem;
  }
  .card.matched .front-face img {
    width: 4rem;
    height: 5rem;
  }
}
@media (max-width: 30rem) {
  .card-container {
    grid-template-columns: repeat(3, auto);
  }

  .back-face img {
    width: 4rem;
    height: 5rem;
  }
  .front-face img {
    width: 2.5rem;
    height: 3rem;
  }
  .front-face,
  .back-face {
    background-color: black;
    width: 4rem;
    height: 5rem;
  }
  .card.matched .front-face img {
    width: 3rem;
    height: 3rem;
  }
  .game-over.visible {
    font-size: 2.5rem;
    height: 100vh;
    width: 100%;
  }
  .replay-btn {
    font-size: 1.5rem;
    height: 3rem;
    width: 7rem;
  }
  .game-container {
    width: 100%;
  }
}
@media (max-width: 20rem) {
  .card-container {
    grid-template-columns: repeat(2, auto);
    height: 100vh;
    width: 100%;
    overflow: visible;
    margin-bottom: 1rem;
  }
  .card {
    grid-gap: 1rem;
    margin: 3rem 0;
  }
}
